[Unit]
Description=Arti Tor Service
After=network.target

[Service]
Type=simple
User=arti
Group=arti
ExecStart=/usr/bin/arti proxy -c /etc/arti/arti.toml
KillSignal=SIGINT
Restart=on-failure
RestartSec=10
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
