[Unit]
Description=Arti Tor Service
After=network.target
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
Type=simple
User=arti
Group=arti
ExecStart=/usr/bin/arti proxy -c /etc/arti/arti.toml
ExecReload=/bin/kill -HUP ${MAINPID}
KillSignal=SIGINT
Restart=on-failure
RestartSec=10
TimeoutStopSec=60
LimitNOFILE=16384

NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/arti
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
